li {
  list-style: none;
  margin: 10px 0;
}

a {
  cursor: pointer;
  color: blueviolet;
}

a:hover {
  text-decoration: underline;
}

.user-wrapper {
  padding: 10px;
  border: 1px solid #999;
}

.active {
  background-color: lightgreen;
}

.inactive {
  background-color: lightcoral;
}
